
#Button {
    background-color: #F4A261;           
    border: 1px;
    border-radius: 70px;
    color: white;
    font-family: Poppins,Arial,sans-serif;

    /* stretch button border */
    margin-top: 19px;
    margin-left: 30px;
    margin-right: 80px;

    /* space between button and words */
    padding: 10px; /* top and bottom */
    padding-left: 25px;
    padding-right: 20px;
}

.back{
    float: left;
    width: 150px;
    font-size: 17px;
}



#check{
    margin-top: 50px;
    clear:both;
    width: 100%;

}

#check button{
    border: 1px;
    font-size: 25px;


}
    
.rad {

    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  

#container{
    clear: both;
    width: 85%;
    float: left;
    margin-bottom: 90px;

}


#pic{
    float: right;
}

input {
    margin:0;
    margin-top: 30px;
    vertical-align: auto;
    
}


label{
    color: black;
    font-family: Poppins,Arial,sans-serif;
    
    font-size: 30px;
    margin-top: 10px;
    text-align:justify;
    padding-right:  85px;
    margin: 10px;


}

.topnav {
    overflow: hidden;
    background-color: #6780ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    /* shadow below nav bar */
  }

.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 30px 40px; /* x = upper/lower, y = between each word */
    text-decoration: none; /* removes default underline */
    font-size: 20px;
  }
  
  /* nav bar hover animation */
.topnav a:hover {
    background-color:#5d6ec7;
    color: white;
  }

/* highlights current page */


.logo {
    position: relative;
    max-width: 100%;
    height: 60px;
    width: 120px;
    padding: 5px;
    text-align: left;
    float: left;

    margin-left: 30px;
}


.quiz{
    margin: auto;
    float: right;
    padding-left: 20px ;
    

    
    
    
}
.plant{
    float: right;
    margin-right: 20px;
    width: 561px;
    height: 310px;
}


body {
    background-color: white;
    color: black;
    text-align: center;
    font-family: Poppins,Arial,sans-serif;
    margin: 0;
    
}

p{
    font-family: Poppins,Arial,sans-serif;
    margin:0;
    margin-top: 10px;
}
.question {
    
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    padding-right: 270px;
    text-align: center;
}

.story {
    margin: 0;
    font-style: bold;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    padding-right: 270px;
}

.q{
    margin: 0;
    font-family: Poppins-Thin,Arial, sans-serif;
    
    font-size: 35px;
    font-style: bold;

}




#mainText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 650px;
}

#subjects {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    margin: 0px; /* gap between subjects and quote */
}




.subjectButtons {
    background-color:white;
    width: 417.94px;
    height: 127.3px;
    border: 0px;
    border-radius: 12px;
    font-size: 36px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
}

.subjectButtons:hover {
    background-color: #F2F4FF;



}


#good{
    font-family: Poppins,Arial,sans-serif;
    font-style: bold;
    font-size: 60px;
    text-align: justify;
}

#info{
    font-family: Poppins,Arial,sans-serif;
    font-style: normal;
    margin: 0;
    
    text-align: justify;
    font-size: 18px;
    
}

.para{
    padding-top: 200px;
    padding-right: 250px;
    margin:0;
    float: right;
}


.kids{
    margin:0;
    float: right;
}
#correct{
    margin: 0;
    float: right;
    width: 600px ;
    height: 639px;

}


.wrap{
    margin: 0;
    clear: both;
    width: 50%;
    float: right;


}


.g{
    width: 80px;
    height: 23px;
    text-align: center;
    font-size: 19px;
    font-family: Poppins,Arial,sans-serif;
    padding-bottom: 10px;
}

.star{
    background-color: #F4A261;           
    border: 1px;
    border-radius: 70px;
    color: white;
    font-family: Poppins,Arial,sans-serif;
    font-size: 17px;
    /* stretch button border */


    /* space between button and words */
    padding: 10px; /* top and bottom */
    padding-left: 25px;
    padding-right: 20px;
    float:left;
    width: 200px;
    margin-top: 17px;
    margin-right: 10px;
}

.next{
    margin-top: 17px;
    width: 200px;
    background-color:white;           
    border: 1px solid black;
    font-size: 17px;
    border-radius: 70px;
    color: black;
    font-family: Poppins,Arial,sans-serif;

    /* stretch button border */


    /* space between button and words */
    padding: 10px; /* top and bottom */
    padding-left: 25px;
    padding-right: 20px;
    float:left;
}
.try{
    float: left;
    font-size: 17px;
    width: 200px;
}

#wrong{
    padding-right: 30px;
    margin: 0;
    float: right;
    width: 565px ;
    height: 800px;

}

#vid{
    float: right;
}


.p{
    padding-top: 60px;
    padding-right: 90px;
    margin:0;
    float: right;
}

#line{
    width: 885px;
    height: 246px;
}
